apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
spec:
  replicas: 2
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
      - name: client
        image: "${GCR_HOSTNAME}/${GOOGLE_PROJECT_ID}/prism-client:${GITHUB_SHA}"
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        env:
        - name: HOSTNAME
          value: "0.0.0.0"
        envFrom:
        - configMapRef:
            name: prism-config
        livenessProbe:
          httpGet:
            path: /chat
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /chat
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: client
  annotations:
    cloud.google.com/backend-config: '{"default": "client-backendconfig"}'
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 3000
  selector:
    app: client
