apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: 3
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: "${GCR_HOSTNAME}/${GOOGLE_PROJECT_ID}/prism-worker:${GITHUB_SHA}"
        resources:
          requests:
            cpu: 500m
            memory: 2Gi
          limits:
            cpu: 1000m
            memory: 3Gi
        envFrom:
        - configMapRef:
            name: prism-config
        - secretRef:
            name: prism-secrets
